<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.ExamDBConnectionString7" connectionString="Data Source=DANIEL-JOHN\DANIEL2005;Initial Catalog=ExamDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.ExamDBConnectionString" connectionString="Data Source=.;Initial Catalog=ExamDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>