<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ActiveBasicExamID" value="11" />
  <add key="TempPath" value="~/Files/Temp/" />
  <add key="TheOnlySuperAdmin" value="djzblue" />
  <add key="CanBatchImportByDept" value="true" />
  <add key="StudentFilePath" value="~/Files/PublicFiles/Student" />
  <add key="ConfigFilePath" value="~/Config.xml" />
  <add key="FCKeditor:BasePath" value="~/fckeditor/" />
  <add key="FCKeditor:UserFilesPath" value="/Files" />
</appSettings>